{% extends 'base.html' %} <br />

{% block title %}Home{% endblock title %} <br />
{% load news_load %} <br />
{% block content %} <br />
{% load static %}
<!--Header_section-->
{% if messages %} {% for message in messages %}
<p
  {%
  if
  message.tags
  %}
  class="alert alert-{{message.tags}} alert-dismissible"
  {%
  endif
  %}
>
  {{message}}
</p>
{% endfor %} {% endif %}
<section id="aboutUs">
  <!--Aboutus-->
  <div class="inner_wrapper aboutUs-container fadeInLeft animated wow">
    <div class="container">
      <h2>Who Am I</h2>

      <div class="inner_section mt-0">
        <div class="row">
          <div class="col-lg-12 about-us">
            <div class="row">
              <!-- /.col-md-6 -->
              <div class="col-md-6 detailsmyself mt-0">
                <h4 style="color: black" class="myhello">Hello world,</h4>
                <h1 style="color: black; font-weight: bold">I'm Emad Ahmed</h1>
                <p>
                  I'm a web developer. I am a student of leading university in
                  CSE department. I have been involved in web for about 3 years.
                  I am basically a django developer.
                </p>

                <ul class="about-us-list">
                  <a
                    href="{% static 'file/Emad Ahmed.pdf' %}"
                    class="btn downloadcv"
                    download
                    >Download CV</a
                  >
                </ul>
                <!-- /.about-us-list -->
              </div>
              <div class="col-md-6">
                <img
                  class="img-responsive"
                  src="{% static 'img/hireme.png' %}"
                  align="center"
                />
              </div>
              <!-- /.col-md-6 -->
            </div>

            <!-- /.row -->
          </div>
          <!-- /.col-lg-12 -->
        </div>
      </div>
    </div>
  </div>
</section>
<!--About us-->
<!--Service-->
<section id="service">
  <div class="container">
    <h2>Skills</h2>
    <h6>Here is the my skill</h6>
    <div class="service_wrapper">
      <div class="row">
        <div class="col-md-4">
          <div class="service_icon delay-03s animated wow zoomIn">
            <span><i class="fab fa-python"></i></span>
          </div>
          <div class="service_block">
            <h3 class="animated fadeInUp wow">Python</h3>
            <p class="animated fadeInDown wow">
              I have more than 3 years exprience in python. i create more than
              30 project in python
            </p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="service_icon icon3 delay-03s animated wow zoomIn">
            <span><i class="fa fa-html5"></i></span>
          </div>
          <div class="service_block">
            <h3 class="animated fadeInUp wow">Design</h3>
            <p class="animated fadeInDown wow">
              I am a Professional website designer. I know html,css, modern
              css,talwind, modern js.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service_icon icon3 delay-03s animated wow zoomIn">
            <span><i class="fa fa-user"></i></span>
          </div>
          <div class="service_block">
            <h3 class="animated fadeInUp wow">Development</h3>
            <p class="animated fadeInDown wow">
              I use django as a backend developement. i am a full stack web
              developer.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Service-->

<!-- Portfolio -->
<section id="Portfolio" class="content">
  <!-- Container -->
  <div class="container portfolio_title">
    <!-- Title -->
    <div class="section-title">
      <h2>Projects</h2>
      <h6>Here All My Projects</h6>
    </div>
    <!--/Title -->
  </div>
  <!-- Container -->

  <div class="portfolio-top"></div>

  <!-- Portfolio Filters -->
  <div class="portfolio">
    <div id="filters" class="sixteen columns">
      <ul class="clearfix">
        <li>
          <a id="all" href="#" data-filter="*" class="active">
            <h5>All</h5>
          </a>
        </li>

        <li>
          <a class="" href="#" data-filter=".design">
            <h5>Design</h5>
          </a>
        </li>
        <li>
          <a class="" href="#" data-filter=".android">
            <h5>Python</h5>
          </a>
        </li>

        <li>
          <a class="" href="#" data-filter=".web">
            <h5>Web App</h5>
          </a>
        </li>
      </ul>
    </div>
    <!--/Portfolio Filters -->

    <!-- Portfolio Wrapper -->
    <div
      class="isotope fadeInLeft animated wow grid"
      style="position: relative; overflow: hidden; height: 480px"
      id="portfolio_wrapper"
    >
      <!-- Portfolio Item -->
      <figure
        style="
          position: absolute;
          left: 0px;
          top: 0px;
          transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
          width: 337px;
          opacity: 1;
        "
        class="portfolio-item one-four appleIOS isotope-item effect-oscar"
      >
        <div class="portfolio_img">
          <img src="{% static 'img/1.png' %}" alt="Portfolio 1" />
        </div>
        <figcaption>
          <div>
            <a href="{% static 'img/1.png' %}" class="fancybox">
              <h2>Portfolio <span>Emad</span></h2>
              <p>This Is A Awesome Portfolio Design</p>
            </a>
          </div>
        </figcaption>
      </figure>
      <!--/Portfolio Item -->

      <!-- Portfolio Item-->
      <figure
        style="
          position: absolute;
          left: 0px;
          top: 0px;
          transform: translate3d(337px, 0px, 0px) scale3d(1, 1, 1);
          width: 337px;
          opacity: 1;
        "
        class="portfolio-item one-four design isotope-item effect-oscar"
      >
        <div class="portfolio_img">
          <img src="{% static 'img/2.png' %}" alt="Portfolio 1" />
        </div>
        <figcaption>
          <div>
            <a href="{% static 'img/2.png' %}" class="fancybox">
              <h2>Blog <span>Normal</span></h2>
              <p>This Is A Normal Blog Site</p>
            </a>
          </div>
        </figcaption>
      </figure>
      <!--/Portfolio Item -->

      <!-- Portfolio Item -->
      <figure
        style="
          position: absolute;
          left: 0px;
          top: 0px;
          transform: translate3d(674px, 0px, 0px) scale3d(1, 1, 1);
          width: 337px;
          opacity: 1;
        "
        class="portfolio-item one-four design isotope-item effect-oscar"
      >
        <div class="portfolio_img">
          <img src="{% static 'img/3.png' %}" alt="Portfolio 1" />
        </div>
        <figcaption>
          <div>
            <a href="{% static 'img/3.png' %}" class="fancybox">
              <h2>Email Sender <span>Send Mail</span></h2>
              <p>You Can Send Mail Via This Site</p>
            </a>
          </div>
        </figcaption>
      </figure>
      <!--/Portfolio Item-->

      <!-- Portfolio Item-->
      <figure
        style="
          position: absolute;
          left: 0px;
          top: 0px;
          transform: translate3d(1011px, 0px, 0px) scale3d(1, 1, 1);
          width: 337px;
          opacity: 1;
        "
        class="portfolio-item one-four android prototype isotope-item effect-oscar"
      >
        <div class="portfolio_img">
          <img src="{% static 'img/12.png' %}" alt="Portfolio 1" />
        </div>
        <figcaption>
          <div>
            <a href="{% static 'img/12.png' %}" class="fancybox">
              <h2>Tic Toe <span>Tic Toe</span></h2>
              <p>This Is A Game</p>
            </a>
          </div>
        </figcaption>
      </figure>
      <!-- Portfolio Item -->

      <!-- Portfolio Item -->
      <figure
        style="
          position: absolute;
          left: 0px;
          top: 0px;
          transform: translate3d(0px, 240px, 0px) scale3d(1, 1, 1);
          width: 337px;
          opacity: 1;
        "
        class="portfolio-item one-four design isotope-item effect-oscar"
      >
        <div class="portfolio_img">
          <img src="{% static 'img/7.png' %}" alt="Portfolio 1" />
        </div>
        <figcaption>
          <div>
            <a href="{% static 'img/7.png' %}" class="fancybox">
              <h2>News <span>Emad Times</span></h2>
              <p>This Is A News Website</p>
            </a>
          </div>
        </figcaption>
      </figure>
      <!--/Portfolio Item -->

      <!-- Portfolio Item -->
      <figure
        style="
          position: absolute;
          left: 0px;
          top: 0px;
          transform: translate3d(337px, 240px, 0px) scale3d(1, 1, 1);
          width: 337px;
          opacity: 1;
        "
        class="portfolio-item one-four web isotope-item effect-oscar"
      >
        <div class="portfolio_img">
          <img src="{% static 'img/6.png' %}" alt="Portfolio 1" />
        </div>
        <figcaption>
          <div>
            <a href="{% static 'img/6.png' %}" class="fancybox">
              <h2>Shop <span>E-Commerce Website</span></h2>
              <p>You can Buy Here Any Type Of Prodocut</p>
            </a>
          </div>
        </figcaption>
      </figure>
      <!--/Portfolio Item -->

      <!-- Portfolio Item  -->
      <figure
        style="
          position: absolute;
          left: 0px;
          top: 0px;
          transform: translate3d(674px, 240px, 0px) scale3d(1, 1, 1);
          width: 337px;
          opacity: 1;
        "
        class="portfolio-item one-four design web isotope-item effect-oscar"
      >
        <div class="portfolio_img">
          <img src="{% static 'img/4.png' %}" alt="Portfolio 1" />
        </div>
        <figcaption>
          <div>
            <a href="{% static 'img/4.png' %}" class="fancybox">
              <h2>Book <span>Islamic Book Collection</span></h2>
              <p>Nice Book Collection</p>
            </a>
          </div>
        </figcaption>
      </figure>
      <!--/Portfolio Item -->

      <!-- Portfolio Item -->
      <figure
        style="
          position: absolute;
          left: 0px;
          top: 0px;
          transform: translate3d(1011px, 240px, 0px) scale3d(1, 1, 1);
          width: 337px;
          opacity: 1;
        "
        class="portfolio-item one-four android isotope-item effect-oscar"
      >
        <div class="portfolio_img">
          <img src="{% static 'img/13.png' %}" alt="Portfolio 1" />
        </div>
        <figcaption>
          <div>
            <a href="{% static 'img/13.png' %}" class="fancybox">
              <h2>Emad Restaurant <span>Restaurant management System</span></h2>
              <p>Here You Can Create This For Restaurant</p>
            </a>
          </div>
        </figcaption>
      </figure>
      <!--/Portfolio Item -->
    </div>
    <!--/Portfolio Wrapper -->
  </div>
  <!--/Portfolio Filters -->

  <div class="portfolio_btm"></div>

  <div id="project_container">
    <div class="clear"></div>
    <div id="project_data"></div>
  </div>
</section>
<!--/Portfolio -->

<section class="page_section" id="clients">
  <!--page_section-->
  <h2>Worked For</h2>
  <!--page_section-->
  <div class="client_logos">
    <!--client_logos-->
    <div class="container">
      <ul class="fadeInRight animated wow">
        <li>
          <a href="javascript:void(0)" style="color: white">Rakidon</a>
        </li>
        <li>
          <a href="javascript:void(0)" style="color: white">Affifylab</a>
        </li>
      </ul>
    </div>
  </div>
</section>
<!--client_logos-->

<section class="page_section team" id="team">
  <!--main-section team-start-->
  <div class="container">
    <h2>Testimonial</h2>
    <h6>Here is What My Clients Saying About Me</h6>

    <div id="team" name="team">
      <div class="container">
        <div class="row centered">
          <div class="col-md-3 centered">
            <img
              class="img img-circle lt-box"
              src="{% static 'img/emad3.jfif' %}"
              height="120px"
              width="120px"
              alt=""
            />
            <div class="rt-box">
              <h4><strong>Sayem Ahmed</strong></h4>
              <p>In fact Your Project has been awesome and very good</p>
              <br />
            </div>
          </div>
          <div class="col-md-3 centered">
            <img
              class="img img-circle lt-box"
              src="{% static 'img/emad2.jpg' %}"
              height="120px"
              width="120px"
              alt=""
            />
            <div class="rt-box">
              <h4><strong>Nahid Ahmed</strong></h4>
              <p>Your Project has been awesome and very good</p>
              <br />
            </div>
          </div>
          <div class="col-md-3 centered">
            <img
              class="img img-circle lt-box"
              src="{% static 'img/team03.jpg' %}"
              height="120px"
              width="120px"
              alt=""
            />
            <div class="rt-box">
              <h4><strong>Tomas</strong></h4>
              <p>In fact Your Project has been awesome and very good</p>
              <br />
            </div>
          </div>
          <div class="col-md-3 centered">
            <img
              class="img img-circle lt-box"
              src="{% static 'img/team04.jpg' %}"
              height="120px"
              width="120px"
              alt=""
            />
            <div class="rt-box">
              <h4><strong>Mnin Nulk</strong></h4>
              <p>In fact Your Project has been awesome and very good</p>
              <br />
            </div>
          </div>
        </div>
      </div>
      <!-- row -->
    </div>
  </div>
</section>

<div class="container">
  <!-- Title -->
  <div class="section-title">
    <h2>Blog</h2>
    <h6>Read My View</h6>
  </div>
  <!--/Title -->
</div>

<div class="blog" id="blog">
  <section class="wrapper">
    <div class="container-fostrap">
      <div class="content">
        <div class="container">
          <div class="row">
            {% for b in blog %}
            <div class="col-xs-12 col-sm-4">
              <div class="card">
                <div class="card-content">
                  <h4 class="card-title text-center">
                    <a href="{% url 'blog' b.id %}"> {{b.title}} </a>
                  </h4>
                  <p class="text-center">{{b.description|cutword}}</p>
                </div>
                <div class="card-read-more">
                  <a
                    href="{% url 'blog' b.id %}"
                    class="btn btn-link btn-block"
                    target="_blank"
                  >
                    Read More
                  </a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--/Team-->
  <!--Footer-->
  <footer class="footer_wrapper">
    <div class="container">
      <section class="page_section contact" id="contact">
        <div class="contact_section">
          <h2>Get In Touch</h2>
          <h6>You Can Contact me Anytime</h6>
        </div>

        <div class="row">
          <div class="col-lg-4 wow fadeInLeft">
            <div class="contact_info">
              <div class="detail">
                <h4>Address</h4>
                <p>Dhakadakshin, Golapgonj, Sylhet</p>
              </div>
              <div class="detail">
                <h4>call me</h4>
                <p>+8801312241148</p>
              </div>
              <div class="detail text-white">
                <h4>Email me</h4>
                <a
                  href="mailto:amadahmed1234678@gmail.com"
                  style="color: white"
                >
                  amadahmed1234678@gmail.com</a
                >
              </div>
            </div>

            <ul class="social_links">
              <li class="twitter animated bounceIn wow delay-02s">
                <a
                  href="https://www.linkedin.com/in/emad-ahmed-53055518a/"
                  target="_blank"
                  ><i class="fa fa-linkedin"></i
                ></a>
              </li>
              <li class="facebook animated bounceIn wow delay-03s">
                <a
                  href="https://www.facebook.com/shuhan.ahmed.560"
                  target="_blank"
                  ><i class="fa fa-facebook"></i
                ></a>
              </li>
              <li class="pinterest animated bounceIn wow delay-04s">
                <a
                  href="https://www.instagram.com/amad.ahmed.560/"
                  target="_blank"
                  ><i class="fa fa-instagram"></i
                ></a>
              </li>
              <li class="gplus animated bounceIn wow delay-05s">
                <a href="https://github.com/Emad-ahmed" target="_blank"
                  ><i class="fa fa-github"></i
                ></a>
              </li>
            </ul>
          </div>
          <div class="col-lg-8 wow fadeInLeft delay-06s">
            <form action="" method="POST">
              {% csrf_token %}
              <div class="form">
                <input
                  class="input-text"
                  type="text"
                  name="name"
                  value="Your Name *"
                  onFocus="if(this.value==this.defaultValue)this.value='';"
                  onBlur="if(this.value=='')this.value=this.defaultValue;"
                />
                <input
                  class="input-text"
                  type="email"
                  name="sender"
                  value="Your E-mail *"
                  onFocus="if(this.value==this.defaultValue)this.value='';"
                  onBlur="if(this.value=='')this.value=this.defaultValue;"
                />
                <textarea
                  class="input-text text-area"
                  cols="0"
                  rows="0"
                  name="message"
                  onFocus="if(this.value==this.defaultValue)this.value='';"
                  onBlur="if(this.value=='')this.value=this.defaultValue;"
                >
Your Message *</textarea
                >
                <input class="input-btn" type="submit" value="send message" />
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>
    <div class="container">
      <div class="footer_bottom">
        <span
          >Copyright © 2021, Template by
          <a href="http://webthemez.com">Emad</a>.
        </span>
      </div>
    </div>
  </footer>
  {% endblock content %} <br />
</div>
